[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
praw = "*"
psycopg2 = "*"
textblob = "*"
tagme = "*"
nltk = "*"
wordcloud = "*"
pandas = "*"
numpy = "*"
networkx = "*"
scipy = "*"
matplotlib = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
